website_code//vendor/
website_code/node_modules/

# Laravel 4 specific
website_code/bootstrap/compiled.php
website_code/app/storage/

# Laravel 5 & Lumen specific
website_code/public/storage
website_code/public/hot

# Laravel 5 & Lumen specific with changed public path
website_code/public_html/storage
website_code/public_html/hot

website_code/storage/*.key
website_code/.env
db/
