website_code/api/vendor/
website_code/api/node_modules/

# Laravel 4 specific
website_code/api/bootstrap/compiled.php
website_code/api/app/storage/

# Laravel 5 & Lumen specific
website_code/api/public/storage
website_code/api/public/hot
website_code/api/public/docs/


website_code/api/storage/*.key
website_code/api/.env

website_code/api/.scribe/
db/
